<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.beam.audio-capture-spike</string>
    <key>CFBundleName</key>
    <string>AudioCaptureSpike</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>NSAudioCaptureUsageDescription</key>
    <string>AudioCaptureSpike needs to capture audio from other applications.</string>
</dict>
</plist>
